
  
  .profile {
    margin: 3rem auto;
    text-align: center;
  }
  
  .actions {
    margin: 3rem auto;
    text-align: right;
  }
  
  .actions button {
    font: inherit;
    cursor: pointer;
    padding: 0.5rem 1.5rem;
    border-radius: 4px;  
    color: black;
    background-color: #e60914;
    border: 1px solid #b8180a;
  }
  
  .actions button:hover {
    background-color: #c7403b;
    border-color: #060607;
  }

  .actions .buttonYN {
    font: inherit;
    cursor: pointer;
    padding: 0.5rem 1.5rem;
    border-radius: 4px;  
    color: black;
    background-color: #e60914;
    border: 1px solid #b8180a;
  }
  
  .actions .buttonYN:hover {
    background-color: #c7403b;
    border-color: #060607;
  }
  
  /* .actions .button--alt {
    color: #8a2b06;
  }
  
  .actions .button {
    background-color: #8a2b06;
    color: white;
  } */